*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #1e0707;
    font-family: "Poppins", sans-serif;
}
.card{
    width: 90%;
    max-width: 500px;
    color: white;
    margin: 100px auto 0;
    padding: 40px 35px;
    /* background: linear-gradient(135deg, #00c6ff, #0072ff); */    
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/1200x/6b/22/c4/6b22c487cf71ee40f1525de69442b124.jpg'); */
    /* background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);    text-align: center; */
    border-radius: 20px;
    /* box-shadow: 0 10px 30px rgb(5, 19, 204); */
    text-align: center;
    background-position: center;
    background-position: 20%;
    animation: bgChange 10s infinite;
}
@keyframes bgChange {
  0%, 20% {
    /* Image 1 + Brightness kam karne ke liye gradient */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/1200x/6b/22/c4/6b22c487cf71ee40f1525de69442b124.jpg');
  }
  21%, 40% {
    /* Image 2 */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/736x/66/81/7d/66817d55a473145dfec93f5809e0ea84.jpg');
  }
  41%, 60% {
    /* Image 3 */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/736x/d8/13/0f/d8130fc9ba79a22b941c2eebe9fbe3f5.jpg');
  }
  61%, 80% {
    /* Image 3 */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/736x/e9/6f/87/e96f875e06b5078d0dc1804bb57d0fae.jpg');
  }
  81%, 100% {
    /* Image 3 */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/736x/f3/04/34/f304343892bce3844dd4a4858fb6ead9.jpg');
  }
}
.card .search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    border: 0;
    outline: 0;
    background: #a7e1d9;
    padding: 10px 30px;
    height: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    border-radius: 50px;
    caret-color: rgb(45, 9, 9);
    cursor:pointer;
}
.search button{
    border: 0;
    outline: 0;
    background: #a7e1d9;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search img{
    width: 16px;
}
.weather-icon{
    width: 150px;
    margin-top: 25px;
}

.weather-box h1{
    font-size: 80px;
    font-weight: 500;
}

.weather-box h2{
    font-size: 40px;
    font-weight: 400;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
   
   
}
.col img{
    width: 30px;
    margin-right: 10px;
}